/* Import Pretendard font */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css');
/* Tailwind Base */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }
  html,
  body {
    @apply h-full w-full;
    @apply font-Pretendard;
  }
  html {
    @apply flex justify-center;
  }
  body {
    @apply flex h-full flex-col;
  }
  main {
    @apply flex-1 overflow-y-auto;
  }
}

/* html,
body {
  font-family: 'Pretendard', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-bg-day);
} */
